{% extends 'layout.html' %}
{% set title = 'Sign Up' %}
{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up:</h3>
    <div class="box">
        <form method="POST" action="/sign_up">
            {{sign_up_form.username.label}}
            <br>
            {{sign_up_form.username()}}
            <br>
            {{sign_up_form.password.label}}
            <br>
            {{sign_up_form.password()}}
            <br>
            {{sign_up_form.submit()}}
        </form>
    </div>
</div>
{% endblock %}