<!-- from https://getbootstrap.com/docs/5.2/components/navbar/ -->
<nav class="navbar navbar-expand-lg bg-success">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('main_bp.index')}}">Cycling Map</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('main_bp.index')}}"
                        id="nav-home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('main_bp.dash')}}" 
                        id="nav-dashboard">Dash Statistics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('main_bp.reports_page')}}" 
                        id="nav-reports">All Reports</a>
                </li>

                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('main_bp.my_reports') }}" 
                        id="nav-my_reports">My Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('auth_bp.user_account') }}" 
                        id="nav-my_reports">Manage Account</a>
                </li>
                {% endif %}
                {% if not current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('auth_bp.login') }}" 
                        id="nav-login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('auth_bp.sign_up') }}" 
                        id="nav-sign_up">Sign Up</a>
                </li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('auth_bp.logout') }}" 
                        id="nav-logout">Logout</a>
                </li>
                {% endif %}
        </div>
    </div>
</nav>