{% extends 'layout.html' %}
{% set title = 'All Theft Reports' %}
{% block content %}

<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
</style>

<h2>All User Theft Reports:</h2>
<ul>
  <li>View all theft reports made by all users here.</li>
  <li>The table is sorted to show the latest reports at the top.</li>
</ul>
{% if user_reports_count == 1 %}
<h5>There is currently {{user_reports_count}} active theft report.</h5>
{% else %}
<h5>There are currently {{user_reports_count}} active theft reports.</h5>
{% endif %}
<table>
<tr>
<th>Bike Rack ID:</th>
<th>Borough:</th>
<th>Report Date:</th>
<th>Report Time:</th>
<th>Report Details:</th>
</tr>
{% for report in reports_table %}
<tr>
<td>{{report.rack_id}}</td>
<td>{{report.report_borough}}</td>
<td>{{report.report_date}}</td>
<td>{{report.report_time}}</td>
<td>{{report.report_details}}</td>
</tr>
{% endfor %}
</table>

{% endblock %}