{% extends 'layout.html' %}
{% set title = 'Specific Theft Reports' %}
{% block content %}

<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
</style>

<h2>All Theft Reports for Bike Rack {{ specific_rack_id }} ({{specific_borough}}):</h2>
<ul>
  <li>View all theft reports made by all users here for bike rack {{ specific_rack_id }} ({{specific_borough}}).</li>
  <li>The table is sorted to show the latest reports at the top.</li>
</ul>
{% if specific_report_count == 1 %}
<h5>There is currently {{specific_report_count}} active theft report for {{ specific_rack_id }} ({{specific_borough}}).</h5>
{% else %}
<h5>There are currently {{specific_report_count}} active theft reports for {{ specific_rack_id }} ({{specific_borough}}).</h5>
{% endif %}
<table>
<tr>
<th>Report Date:</th>
<th>Report Time:</th>
<th>Report Details:</th>
</tr>
{% for report in specific_reports_to_view %}
<tr>
<td>{{report.report_date}}</td>
<td>{{report.report_time}}</td>
<td>{{report.report_details}}</td>
</tr>
{% endfor %}
</table>
<br>
<form id="back_to_all_reports" action="{{ url_for('main_bp.reports_page')}}">
  <button type="submit">Back to all reports</button>
</form>
{% endblock %}